<!-- PIE DE PAG -->

<footer class="box-transform">

    <div class="footer">

        <div class="columOne">

            <div>

                <h1>New - Olympic</h1>
                <div class="info-box">

                    <input id="email" type="email" value placeholder="ESCRIBE TU EMAIL"><span><button
                            type="submit">></button></span><br>
                    <label for="check"><input id="check" type="checkbox"><span></span></label><span>Estoy de acuerdo con
                        la política de privacidad y los términos de uso.</span>

                    <div>

                        <p>©Copyright 2022 New - Olympic</p>
                        <p>Sitio web de Gran Valor deportivo</p>

                    </div>

                </div>

            </div>


        </div>

        <div class="columTwo">

            <div class="redes-box">
                <h2>Sígueme</h2>
                <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i>
            </div>

            <div>

                <h2>Contacto</h2>
                <p>info@new-olympic.com</p>
                <p>+34 654 354 674</p>
                <p>Horario de info:</p>
                <p>(10:00 - 19:00)</p>

            </div>


        </div>

    </div>


</footer>