<header>
    <!--MAIN HEADER-->
    <div class="menu">

        <div class="menu-left">

            <ul>
                <li>
                    <a routerLink="/list-juegosolimpicos">OLIMPIADAS</a>
                </li>
                <li>
                    <a routerLink="/list-deportes">DEPORTES</a>
                </li>
            </ul>

        </div>

        <div class="logo" routerLink="">

            <img id="fire" src="../assets/image/fire-gif-unscreen.gif" alt="">
            <img src="../assets/image/logo-newolympic-nofire-recor.png" width="70%" alt="">

        </div>

        <div class="menu-right">

            <ul>
                <li>
                    <a routerLink="/list-atletas">ATLETAS</a>
                </li>
                <li>
                    <a routerLink="/list-noticias">NOTICIAS</a>
                </li>
            </ul>

        </div>

    </div>  


    <!--MAIN VIDEO-->
    <section class="main-video">

        <div class="video">

            <video src="../assets/image/videoOlympics.mp4" autoplay loop controls muted></video>

        </div>

    </section>

    <section class="intro">

        <h2>OLIMPIADAS <br> JUEGOS OLIMPICOS</h2>

        <p>
            EL MAYOR EVENTO DEPORTIVO INTERNACIONAL MULTIDISCIPLINARIO EN EL QUE PARTICIPAN ATLETAS DE DIVERSAS PARTES DEL MUNDO.
        </p>
        
    </section>

</header>
