<!-- MAIN -->

<main>
    
    <router-outlet></router-outlet>

    <div class="espacio">

    </div>

    <!-- ABOUT-->
    <section class="about">

        <h2>DE INTERÉS</h2>

        <p><a href="https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos#Juegos_Ol%C3%ADmpicos_de_la_antigua_Grecia">ANTIGUA GRECIA</a>  |  <a href="https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos#Juegos_Ol%C3%ADmpicos_modernos">OLÍMPICOS MODERNOS</a>  |  <a href="https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos#Comercializaci%C3%B3n">COMERCIALIZACIÓN</a>  |  <a href="https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos#S%C3%ADmbolos">SÍMBOLOS</a>  |  <a href="https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos#Ceremonias">CEREMONIAS</a>  |  <a href="https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos#Sedes_de_los_Juegos_Ol%C3%ADmpicos">SEDES OLIMPICAS</a>  |  <a href="https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos#Controversias_2">CONTROVERSIAS</a></p>

        <div class="columns">

            <div>

                <h3>COMITÉ OLÍMPICO NACIONAL</h3>
                <p>
                    Un comité olímpico nacional (NOC, por sus siglas en inglés) es la sede nacional de cada país encargada por el Comité Olímpico Internacional de «fomentar y proteger al Movimiento Olímpico en sus respectivos países».
                </p>

            </div>

            <div>

                <h3>ASOCIACIÓN DE COMITÉS</h3>
                <p>
                    La Asociación de Comités Olímpicos Nacionales (ACNO; en inglés, Association of National Olympic Committees, ANOC), es una organización internacional no gubernamental que está constituida por los comités olímpicos nacionales reconocidos oficialmente por el Comité Olímpico Internacional (COI).
                </p>

            </div>

        </div>

    </section>

</main>
